.card{
    width: 380px;
    margin-top: 20px;
    text-align: center;
    border-radius: 25px;
}
.container{
    background-image: url(https://w.wallhaven.cc/full/95/wallhaven-956q2x.jpg);
        background-repeat: no-repeat;
    
}
p{
    font-size: medium;
    font-style: italic;
}
h3{
    font-size: large;
    
}
h4,h2{
    font-size: medium; 
}
